* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

.container {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 4fr;
}

.container > * {
	padding: 20px;
}

/* Sidebar*/

.sidebar {
	background-color: #1992d4;
	grid-row: 1 / 3;
	grid-column: 1 / 2;
	display: grid;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.sidebar-container {
	display: grid;
	grid-template-rows: min-content min-content min-content;
	gap: 50px;
}

.sidebar-logo,
.sidebar-item {
	align-items: center;
}

.sidebar-logo img {
	height: 50px;
}

.sidebar-actions,
.sidebar-settings {
	display: grid;
	gap: 15px;
}

.sidebar-actions img,
.sidebar-settings img {
	height: 30px;
	justify-self: center;
}

.sidebar-item,
.sidebar-logo {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 10px;
}

/* header */

.header {
	background-color: white;
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	padding: 20px 40px;
}

.header-container {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}

.header-top {
	grid-row: 1 / 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 100px;
}

.header-top-right,
.header-top-left,
.header-bot-left,
.header-bot-right {
	display: flex;
	align-items: center;
}

.header-bot-left {
	justify-content: flex-start;
	gap: 10px;
	flex-grow: 2;
}

.header-bot-left-text {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

input {
	width: 100%;
	background-color: #e2e8f0;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
}

.header-top-left {
	justify-content: flex-start;
	gap: 10px;
	flex-grow: 4;
}

.header-top-right {
	justify-content: space-between;
	flex-grow: 1;
}

.header-bot-right {
	justify-content: flex-end;
    gap: 20px;
	flex-grow: 1;
}

.header-top-left .header-symbol,
.header-top-right .header-symbol {
	max-height: 30px;
}

.header-top-right .avatar {
	height: 40px;
	border-radius: 50%;
}

.header-bot {
	grid-row: 2 / 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.header-bot-left img {
	max-height: 50px;
	border-radius: 50%;
}

button {
	background-color: #1992D4;
	color: white;
    font-weight: bold;
	padding: 10px 30px;
    border: 1px solid white;
	border-radius: 20px;
	border: none;
	outline: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

button:hover {
    color: #1992D4;
    background-color: white;
    outline: 1px solid #1992D4;
}

/* main */

.main {
	background-color: #e2e8f0;
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.main-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr;
	gap: 15px;
	min-height: 100%;
}
/* projects */

.projects-card-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	gap: 15px;
	justify-content: space-between;
}

.projects {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	gap: 15px;
}

.projects > p {
	grid-column: 1 / -1;
}

.projects-card {
	min-height: 150px;
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
}

.projects-card-text {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.projects-card-content {
	font-size: 12px;
}

.projects-card-img {
	display: flex;
	justify-content: flex-end;
	gap: 30px;
}

.projects-card-img img {
	height: 20px;
}

/* main side */
/* announcement */

.main-side {
	display: grid;
	gap: 25px;
	grid-template-rows: 1fr 1fr;
}

.announcements {
	display: grid;
	grid-template-rows: min-content 1fr;
	gap: 15px;
}

.announcements-card-container {
	background-color: white;
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.announcements-card-title {
	font-size: 12px;
}

.announcements-card-content {
	font-size: 10px;
}

/* trending */

.trending {
	display: grid;
	grid-template-rows: min-content 1fr;
	gap: 15px;
}

.trending-card-container {
	background-color: white;
	padding: 30px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.trending-card {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.trending-card img {
	height: 40px;
	border-radius: 20px;
}

.trending-card-text {
	font-size: 12px;
	display: flex;
	flex-direction: column;
}

/* typo, style etc */

.bold-text {
	font-weight: bold;
}

.smaller-text {
	font-size: 12px;
}

.trending-card-container,
.announcements-card-container,
.projects-card {
	border-radius: 5px;
	border: 1px solid #e5e7eb;
	box-shadow: 1px 1px 2px 2px #676767a1;
}

.projects-card {
	border-left: 8px solid #e21a12;
}
